main(style='display:flex, felx-direction:column')
    section(style='display: flex, flex-direction: row, justify-content: space-between, margin-bottom: 5px')
        div(style='background-color: green, display: flex') #{task1}
        div(style='background-color: green, display: flex') #{task2}
        div(style='background-color: green, display: flex') #{task3}
    section(style='display: flex, flex-direction: row, justify-content: space-between, margin-bottom: 5px')
        div(style='background-color: green, display: flex') #{task4}
        div(style='background-color: green, display: flex') #{task5}
        div(style='background-color: green, display: flex') #{task6}
    section(style='display: flex, flex-direction: row, justify-content: space-between, margin-bottom: 5px')
        div(style='background-color: green, display: flex') #{task7}
        div(style='background-color: green, display: flex') #{task8}
        div(style='background-color: green, display: flex') #{task9}