div(style='display: flex, justify-content: space-between, margin-bottom: 5px')
    div(style='background-color: green') #{task0}
    div(style='background-color: green') #{task1}
    div(style='background-color: green') #{task2}
div(style='display: flex, justify-content: space-between, margin-bottom: 5px')
    div(style='background-color: green') #{task3}
    div(style='background-color: green') #{task4}
    div(style='background-color: green') #{task5}
div(style='display: flex, justify-content: space-between, margin-bottom: 5px')
    div(style='background-color: green') #{task6}
    div(style='background-color: green') #{task7}
    div(style='background-color: green') #{task8}